/*
 *
 * @author Javad Sadeqzadeh Boroujeni
 */

.commentButtonsCentered {
    position: fixed;
/*    top: 50%;
    left: 50%;*/
    margin-top: 20px;
    margin-left: 170px;
}

.commentsTextBoxes {
/*    margin-right: auto;
    margin-left: auto;
    alignment-adjust: central;
    overflow-style: auto;*/
}

#commentsNameTextBox {
/*    position: fixed;*/
    margin-left: 30px;
}