/* 
    Document   : footer_header
    Created on : 20-May-2013, 18:38:54
    Author     : kavansol
    Description:
        Purpose of the stylesheet follows.
*/
html,body,footer{
    overflow-x: hidden;
    min-width: 101%;
    margin-left: -5%;
}
html,body{
    height:100%;
    padding:0;
    margin:0;
    background-color:#60b6f0;;
}
header{
    position: fixed;
    width: 100%;
 
}
#inner_header{
    background: white;
}
#container{
    min-height:100%;
    position:relative;
}
#headerTitleOuter{
    min-width:100%;

    /*background: black;*/
}
#headerTitle{
    background-color: white;
    border-radius: 17px;
    width:500px;
    margin:20px auto;
    text-align: center;
    padding:2px;
       z-index: 10;

}

#mainBody{
    
    overflow-x: hidden; 
    min-height:80%;
    background-color: white;
    border-bottom-right-radius: 1200px;
    padding-bottom: 38%;

}
#body_wr{
    margin-left: 5%;
    margin-right: 5%;
}
footer{
    position:absolute;
    margin-bottom: 0;
    background-color:#60b6f0;
    /*height: 30%;*/
    min-width: 101%;
    /*border-top: 5px solid silver;*/
    color:white;
    /*border-top-right-radius: 16px;*/

}
#footer_info{
    margin-top: 20px;

}
#footer_info span{
    display: block;
    margin-top: 2px;
}

#sideBar{
    position: fixed;
    left: 93%;
    z-index: 100;
}